@{
    ViewData["Title"] = "Home Page";
}

<style>
    .services {
        text-align: center;
    }
</style>


        <div class="row">
            <div class="col-md-4 ">
                <section>
                    <img src="~/images/logo.png" />
                    </section>
            </div>
        </div>
